*{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family:poppins500 ;
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins300;
    src: url(Poppins-Light.ttf);
}
@font-face {
    font-family: mont400;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: mont500;
    src: url(Montserrat-Medium.ttf);
}
.header{
    width: 100%;
    height: 125px;
    background: linear-gradient(0.5deg, #FFFFFF 20%, rgba(74, 153, 211, 0) 300%),
    linear-gradient(1deg, #FC0B0D, #FC0B0D);
    box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);
    margin-top: -2%;   
}
.head1{
    font-family: poppinsbold;
    color:rgba(74, 153, 211, 1);
    width: 250px;
    height: 20px;
    margin-left: 13%;
    padding-top: 2.5%;   
}
.head2{
    display: flex;
    gap: 10%;
}
.head2s{
    margin-top: 8%;
}
.head3{
    display: flex;
    gap: 8%;
}
.head3s{
    margin-top: 12%;
}
.head23{
    display: flex;
    font-family: poppins;
    margin-left: 60%;
    margin-top: -1.5%;
    justify-content: space-between;
    width: 370px;
}
.signup,.signin{
    width: 239px;
    height: 52px;
    border: none;
    font-family: poppins500;
    font-size: 20px;
}
.signup{
    background-color: rgba(230, 230, 230, 1);
}
.signin{
    background-color: rgba(234, 246, 255, 1);
}
.createhead{
    font-family: poppins500;
    height: 20px;
}
.par1{
    color: rgba(141, 141, 141, 1);
    font-family: poppins300;
    font-size: 14px;
}
.name,.email,.password{
    width: 440px;
    height: 60px;
    border-width: 0px 0px 2px 0px ;
    border-color: rgba(0, 0, 0, 1);
}
.inputs::placeholder{
    font-family: poppins;
    color: rgba(0, 0, 0, 1);
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 4%;
}
.create{
    width: 435px;
    height: 65px;
    background-color: rgba(252, 11, 13, 1);
    border: none;
    border-radius: 20px;
    font-family: poppins500;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}
.google{
    width: 435px;
    height: 65px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 20px;
    color: rgba(252, 11, 13, 1);
    font-family: poppins500;
    font-size: 18px;
    background-image: url(google.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 80px;

}
.button2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}
.head-par{
    margin-left: 3%;
}
.buttons{
    display: flex;
}
a{
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
}
.span1{
    font-family: poppins;
    font-size: 16px;
}
.already{
    margin:  16%;
}
.mainimg{
    width: 700px;
    height: 600px;
    margin-left: ;
}
.middle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
    margin-left: -5%;
    
}
.footerback{
    width: 100%;
    height: 370px;
    background-color: rgba(234, 246, 255, 1);
    margin-top: 5%;
}
.foot1h{
    font-family: mont400;
    
}
.foot1p{
    font-family: mont400;
    color: rgba(80, 74, 65, 1);
    
}
.foot2{
    margin-left:;
    
    margin-top:;
    
}
.foot2{
    font-family: mont400;
}
.foot2h{
    width: ;
    font-family: mont500;
}
.foot2-1{
    display: flex;
    width: 170px;
    gap: 15px;
}
.foot2-2{
    display: flex;
    gap: 15px;
    width: 200px;
}
.foot2-3{
    display: flex;
    gap: 15px;
}
.foot2img{
    height: 22px;
    margin-top: 7%;
}
.foot2-3img{
    height: 22px;
    margin-top: 6%;
}
.foot3h{
    font-family: mont500;
}
.foot3p{
    font-family: mont400;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-left: 5%;
    padding-top: 3%;
}
